<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tl.dataprocess.rocketMQ.mapper.mped.MpedMapper">


<!--    <select id="selectMpedList" resultType="long">-->
<!--        SELECT MPED_ID FROM r_mped_bak_20210325-->
<!--    </select>-->

    <select id="selectMpedList" resultType="long">
        SELECT filterKey FROM r_data_filter WHERE filterType = 1;
    </select>
</mapper>
